.container
	.content
		.page-header
			h1 #{title}

		#main

			.row#login

				.span12
					h4 Mix for Friends
						button#btn-login Create Mixtape

			.row#mixtape
				.span12
					h4 Playlist Editor
					ul.playlist
					button.search.btn Add Track
					button.publish.btn Publish

			.row#search
				.span12
					h4 Find your track
						small x:xx left
					input(type='text').span12
					ul.playlist

			.row#player
				.span12
					h2 Player
					.info
						.title
						.to
						.from
					.playListA.span6
						h3 Side A
						ul
					.playListB.span6
						h3 Side B
						ul
