.container
	.content
		.page-header

		#main

			.row#mixtape
				.span12
					input(type='text', placeholder='Name your Mixtape …').span12
					ul.playlist
					button.search.btn Add Track
					button.publish.btn Publish

			.row#search
				.span12
					h4
						div.pull-right
							button.btn.small Back
						| Find your track
					input(type='search', placeholder='Song title or artist …').span12
					ul.playlist


			.row#publish
				.span12
					h4 Dedicate via SMS
					form#sms-form(action='#', method='get')
						input(type='tel', placeholder='(555) SMS-HERE …').span12
					h4 Dedicate via Facebook
					ul#faces

			.row#player
				.span12
					h2 Player
					button.btn.play Play
					.info
						.title
						.to
						.from
					.playListA.span6
						h3 Side A
						ul
					.playListB.span6
						h3 Side B
						ul
