div.container
	div.content
		div.page-header
			h1 #{title}
		div.row
			div.span12
				h2 Welcome

				ul
					li
						a(href='/search/stayin alive') Search Stain' Alive
					li
						a(href='/play/1360951') Play Song URL