!!! 5
html
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/css/app.css')
		link(href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do', rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

	body
		| !{body}

		script
			var env = !{JSON.stringify(env)};
		script(type='text/javascript', src='/js/jquery.js')
		script(type='text/javascript', src='/js/underscore.js')
		script(type='text/javascript', src='/js/backbone.js')
		script(type='text/javascript', src='/js/soundmanager2.js')
		script(type='text/javascript', src='/js/bootstrap.js')
		script(type='text/javascript', src='/js/models/track.js')
		script(type='text/javascript', src='/js/models/mixedtape.js')
		script(type='text/javascript', src='/js/collections/mixtapetracks.js')
		script(type='text/javascript', src='/js/collections/searchtracks.js')
		script(type='text/javascript', src='/js/collections/playertracks.js')
		script(type='text/javascript', src='/js/views.js')
		script(type='text/javascript', src='/js/views/login.js')
		script(type='text/javascript', src='/js/views/editor.js')
		script(type='text/javascript', src='/js/views/search.js')
		script(type='text/javascript', src='/js/views/player.js')
		script(type='text/javascript', src='/js/views/trackentry.js')
		script(type='text/javascript', src='/js/app.js')