@import 'nib'

#search

	&.loading

		input
			background url(/img/load.gif) left 50% no-repeat

		ul
			opacity 0.5


.playlist

	font-family: 'Nothing You Could Do', cursive

	list-style none
	margin 0

	li
		padding 0 5px 0 50px
		border-bottom 1px solid #eee
		position relative

		strong
			display block
			font-size 18px
			line-height 27px

		.play
			border none
			background url(http://png-1.findicons.com/files//icons/1722/gnome_2_18_icon_theme/24/media_playback_start.png) no-repeat center
			text-indent -9999px
			overflow hidden
			position absolute
			top 0
			bottom 0
			left 0
			width 50px

		.add
			border none
			background blue
			position absolute
			top 0
			bottom 0
			right 0
			width 50px
			display none

		.duration
			position absolute
			right 0
			bottom 0
			font-size small

	.loading

		.play
			background-image: url(/img/load.gif)

	.playing

		.play
			background-image: url(http://png-1.findicons.com/files//icons/1722/gnome_2_18_icon_theme/24/media_playback_pause.png)

#search

	li .add
		display block

